body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
}

h1, h2, h3, h4, ul {
    margin-bottom: .2em;
    margin-top: .2em;
}

article, section {
    border-radius: .2em;
    border-style: solid;
    border-width: .01em;
    margin: .1em;
    padding: .3em;
}
